html, div#main {
    margin: 0px;
    background-color: #D9D9D9;
}
p, h1, h2, h3, h4, h5, h6, label {
    font-family: 'K2D', sans-serif;
}
div#content {
    background-color: #BDBDBD;
    margin: 5em;
    margin-top: 10em;
    border-radius: 1em;
     width: auto;
    height: fit-content;
    padding: 1em;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 20em;
}