div#content div#profilePage, div#content div#adminControls {
    color: white;
}

div#content div#profilePage img#userProfilePicture{
    width:20em;
    position: relative;
    left: -5em;
    top: -5em;
}

div#content div#profilePage #header {
    display: inline-block;
    border-bottom: white 0.2em solid;
    padding-bottom: 5em;
    width: 60%;
}

div#content div#profilePage #body #left {
    display: inline-block;
    width: 40%;
    text-align: center;
    border-right: white 0.2em solid;
    margin-top: 1em;
}

div#content div#profilePage #body #right {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-top: 1em;
}

div#content div#profilePage #body {
    display: inline-block;
    width: 100%;
    text-align: center;
}